.header_background-image1{
    background: url("./img/image1.png");
    width: 1000px;
    height: 700px;
    font: white;
    color: white;
    font-size: 32px;
}
.header_display-inline-block1{
    display: inline-block;
    font-family: 'Playfair Display';
    }
    .header_display_inline-block-car{
        position: relative;
       left: 700px;
        background: transparent;
    }
.header_menu1{
    position: relative;
     top: -10px;
    padding: 0;
    
}
.header_menu2{
    position: relative;
    top: -14px;
    right: 27px;
    
}
.header_menu3{
    position: relative;
    top: -18px;
    right: 55px;
}
.position1{
    position: relative;
    
}
.position1 img{
    width: 400px;
}
.position2{
    position: absolute;
    margin-left: 410px;
    top: 740px;
}
.position3{
    position: absolute;
    margin-left: 410px;
    top: 800px;
}
.position4{
    position: relative;
}
.position5{
    position: absolute;
    margin-left: 410px;
    top: 1060px;
    
}
.position5 img{
    width: 400px;
    margin-bottom: 20px;
}
.aside_displa-flexfirst{
    display: flex;
}
.aside_displa-flexsecond{
    display: flex;
}
.aside_left-background{
    background: #F7F1E6;
    border-radius: 8px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.main_button-left{
    position: relative;
    right:146px;
    border: solid #0B1D03;
    background-color:#0B1D03;
    color: white;
}
.aside_center-background{
    background: #F7F1E6;
    margin-right: 30px;
    margin-bottom: 30px;
}
.main_button-center{
    position: relative;
    right:146px;
    border: solid #0B1D03;
    background-color:#0B1D03;
    color: white;
}
.aside_right-background{
    background: #F7F1E6;  
    margin-bottom: 30px;
}
.relative1{
    position: relative;
}
.absolute1{
    position: absolute;
    left: 150px;
    top: 2090px;
    
}
.absolute2{
    position: absolute;
    left: 350px;
    top: 2090px;
}
.absolute3{
    position: absolute;
    left: 550px;
    top: 2090px;
}
.absolute4{
    position: absolute;
    left: 750px;
    top: 2090px;
}
.sectio_display-inline{
    display: flex;
}
.background-image2{
    background: url("./img/rectangle20.png");
    width: 504px;
    height: 460px;
    font-size: large;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
}
.background-image3{
   background: url("./img/rectangle21.png");
    width: 504px;
    height: 460px;
    font-size: large;
    color: white;
    margin-top: 10px;
}
.section_font{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 60px;

}
.fontfamily-playfair{
    font-family: 'Playfair Display';
}
.width2{
    width: 800px;
}
.width img{
    width: 144px;
    height: 51px;
    
}
footer{
 background: #F7F1E6;;
}
footer ul{
    display: inline-block;
    list-style: none;
}
.list-style{
    list-style: none;
}
.inline{
    position: relative;
    top: -10px;
    left: 100px;
}
.inline label{
    position: relative;
    top: -50px;
}
.inline li{
    
    display: inline-block;
      }

 .inline img{
    background: black;
    border-radius: 52px;
 }     
 .absolute5{
     position: relative;
     right: 85px;
     bottom: 30px;
 }
 .absolute6{
    position: relative;
     right: 80px;
     bottom: 25px;   
 }
 .absolute7{
    position: relative;
    right: 75px;
    bottom: 20px;
 }
